.App {

}
.inventory-img{
    width: 50px;
    margin: 0 20px;
}
.Cart{

    border: 1px solid gray;
}
.Cart >span{
    padding: 0 20px;
    font-weight: bold;
    font-size: 120%;
}
.Cart > button {
    margin: 10px;
}
.CartItem{
    padding: 2%;
    border: 1px solid gray;
    text-align: center;
}
.Inventory{
    padding: 2%;
    border: 1px solid gray;
    text-align: center;
}
.btn-info{
    margin: 20px 10px;
}